@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
}


html {
    scroll-behavior: smooth;
  }

  





.hero-container {

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('./background 01.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 60px;

        text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
    

}

nav {
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 700px;
}

li {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    color: #fff;
    cursor: pointer;
}

li:hover {
    color: #D870DB;
}

a{
    text-decoration: none;
    text-shadow: 0 0 5px #FF0000, 0 0 5px#0000FF; 
}

.arrows {
    width: 60px;
    height: 172px;
    bottom: 20px;
}

.arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:  -1s;
    -webkit-animation-delay:  -1s;
}

.arrows path.a2 {
    animation-delay:  -0.5s;
    -webkit-animation-delay:  -0.5s;
}

.arrows path.a3 {
    animation-delay:  0s;
    -webkit-animation-delay:  0s;
}

.content-container {
    height: 100vh;
    background-color: #333;
}


.profile-container {

    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./background 02.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.profile-content {
    width: 30%;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
}

.profile-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 4px solid #D870DB;
}

.name-text {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    margin-top: 15px;
}

.profile-text {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    text-align: center;
    width: 80%;
    margin-top: 10px;
}

.profile-button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #D870DB;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-top: 35px;
    cursor: pointer;
}

.divider {
    width: 100%;
    border-top: .5px solid #bfbfbf;
    margin: 20px 0;
}

.icons-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.icon-item {
    width: 80px;
    height: auto;
}


.prosi-box {

    background-color: #D870DB;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 30px;
    border-radius: 8px;

}

.profile-sinopse {
    width: 430px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 17px;
}

/*----*/


.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-shadow: 0 0 5px #FF0000, 0 0 5px#0000FF; 
   
  }
  
  .divider {
    width: 100%;
    border-top: .5px solid #bfbfbf;
    margin: 20px 0;
}
  

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px #FF0000, 0 0 5px#0000FF; 
    width: 21.4rem;
    height: 20rem;
    border-radius: 10%;
    padding: 20px;
    margin-left:-3em;
    position: relative;
   }

   label{
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
    
    display: block;
    font-size: 1em;
    background-color: rgb(255, 255, 255);;
   }

   input{
    display: block;
    background-color: #ffffff;
    border-color:  rgb(196, 35, 131);
    
  width: 100%;
  border-radius: 8px;
  }

  textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 5em;
    max-height: 5em;
    background-color: #ffffff;
    border-color:  #D870DB;
    border-radius: 8px;
   }

   Button{
  
    width: 80%;
    border:none;
    background-color:  #D870DB;
    color: rgb(224, 224, 224);
    font-family: 'Kdam Thmor Pro',sans-serif;
    border-radius: 8px;
    align-items: center;
    padding: 8px 12px;
    margin-left:2em;
    margin-top: 1em;
 
   }

   
footer {
    height: 2em;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
    background-color: #D870DB;
    text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
    
    font-family: 'Oswald', sans-serif;
    color: #fff;}

    #form-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
       
      }
      
      
      
       form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color:#D870DB;
        width: 20rem;
        height: 20rem;
        border-radius: 10%;
        padding: 30px;
        top:1em;
      justify-content: center;
      margin:0;
       }
       label{
        font-family: 'Kdam Thmor Pro',sans-serif;
        color: #ffffff;
        display: block;
        font-size: 1em;
        background-color: #D870DB;;
       }
       input{
        display: block;
        background-color: #ffffff;
        border-color:  rgb(196, 35, 131);
        
      width: 100%;
      border-radius: 8px;
      }
       textarea{
        display: block;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 5em;
        max-height: 5em;
        background-color: #ffffff;
        border-radius: 8px;
        width: 100%;
        min-width: 22em;
        max-width: 22em;
        height: 300px;
       }
       Button{
      
        width: 80%;
        border:none;
        background-color: #ffffff;
        color: rgb(196, 35, 131);
        font-family: 'Kdam Thmor Pro',sans-serif;
        border-radius: 8px;
        align-items: center;
        padding: 8px 12px;
        margin-left:2em;
        cursor: pointer;
        margin-top: 1em;
        transition: 1s ease;
       }
       button:hover{
        background-color:  rgb(196, 35, 131);
        color: #fff;
       }
      
       