@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;

    body{
        background-image: url('/background 01.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 60px;

        text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
    

}

nav {
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 700px;
}

li {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    color: #fff;
    cursor: pointer;
}

li:hover {
    color: #D870DB;
}

a{
    text-decoration: none;
    text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
}



footer {
    height:1.5em;
    display:flex;
    padding:0px 0px 2em;
    
    flex-direction:column;
    font-size: 20px;
    align-items:center;
    justify-content: space-around;
    background-color: #D870DB;
    text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;

    padding:0;
    margin:0;

    position: relative;
    bottom: 0; 
     left: 0;
     right: 0;
      margin:0;
    color: #fff;}



    .sites {
        display: grid;
        grid-template-columns: auto auto auto;
    justify-content: space-between;
        padding: 10px;

        
    }

    .sites1{
      
            display: flex;
            justify-content: space-between;
            margin:0rem;
            
            
        }
    .sites h3 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
    margin-left: 5em;
    width: 50%;
    

    
}

.siteslast h3{
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
    margin-left: 5em;
    width: 50%;
    

    
}

.siteslast{

    display: flex;
	  justify-content: center;
	  align-items: center;
	  gap: 20px;
}

  .thumb{
    box-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
    width: 25em;
    border-radius: 20px;
     transition: .5s;

  }
  .thumb:hover{
    transform: scale(1.1);
}

.thumb1{
    box-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
    width: 25em;
    border-radius: 20px;
     transition: .5s;
     margin-right: 5rem;

  }
  .thumb1:hover{
    transform: scale(1.1);}



    .thumb2{
        box-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
        width: 25em;
        border-radius: 20px;
         transition: .5s;
         margin-right: 5rem;
    
      }
      .thumb:hover{
        transform: scale(1.1);}

.site1{
    margin:1rem;
}






#completo{
    font-size: 30px;
}

.sites h3 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
    margin-left: 5em;
    width: 50%;
    

    
}

.divider {
    width: 50%;
    border-top: 10px solid #ffffff;
    box-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
    margin: 20px 0;
}
