@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



 body{
  margin: 0;
  padding:0;
  background-image: url('../background 02.jpg');

    background-attachment: fixed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.navi ul {

    width: 700px;
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: auto;
    padding-top: 10px;
  
}

li {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    color: #fff;
    cursor: pointer;
}

li:hover {
    color: #D870DB;
}

a{
    text-decoration: none;
    text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
}

h1 {

    font-family: 'Oswald', sans-serif;

    color: #fff;
    font-size: 60px;

        text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
        display: flex;
        justify-content: center;
        align-items: center;
    

}


.sites{
  display: grid;

  justify-items: center;

  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 16px;
  gap: 16px;
  margin-bottom: 16px;
  margin: 10px;
}

.sites h3 {

    font-family: 'Oswald', sans-serif;

    color: #fff;
    text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
    margin-left: 5em;
    width: 50%;
}

 .thumb{

    box-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;

    width: 25em;
    border-radius: 20px;
     transition: .5s;

  }
  .thumb:hover{
    transform: scale(1.1);
    
  }
    
footer{
    height: 2em;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: #D870DB;
    text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;

    
    font-family: 'Oswald', sans-serif;
    color: #fff;}

  