@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
}

body {
  background-image: url("../background 02.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-attachment: fixed;
  padding-top: 10px;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 60px;

  text-shadow: 0 0 5px #ff0000, 0 0 5px #0000ff;
}

.navi ul {
  width: 50%;
  display: flex;
  justify-content: space-between;

  list-style: none;
  width: 700px;
}

ul {
}

li {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  color: #fff;
  cursor: pointer;
}

li:hover {
  color: #d870db;
}

a {
  text-decoration: none;
  text-shadow: 0 0 5px #ff0000, 0 0 5px #0000ff;
}

.content-container {
  height: 100vh;
  background-color: #333;
}

.name-text {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  margin-top: 15px;
}

.sites {
  display: grid;

  justify-content: center;

  grid-template-columns: 1fr 1fr;
  gap: 15px;

  margin-left: 10em;
}

.thumb {
  box-shadow: 0 0 5px #ff0000, 0 0 5px #0000ff;
  width: 25em;
  border-radius: 20px;
  transition: 0.5s;
  margin: 40px;
}
.thumb:hover {
  transform: scale(1.1);
}

. #completo {
  font-size: 30px;
}

.sites h3 {
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-shadow: 0 0 25px #6d0b0b, 0 0 5px #1111a8;
  margin-left: 5em;
  width: 50%;

  backdrop-filter: blur(90px);
  backdrop-filter: opacity(50%);
}

.divider {
  width: 50%;
  border-top: 10px solid #ffffff;
  box-shadow: 0 0 5px #ff0000, 0 0 5px #0000ff;
  margin: 20px 0;
}

footer {
  height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #d870db;
  text-shadow: 0 0 5px #ff0000, 0 0 5px #0000ff;
  width: 100%;
  font-family: "Oswald", sans-serif;
  color: #fff;
}


