.off-screen-menu {
  display: none;
}

.ham-menu {
  display: none;
}

.overlay {
  background: rgba(80, 9, 47, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

@media (max-width: 860px) {
  
  /* Responsive navbar and effects */

  .overlay {
    display: none;
    z-index: 0;
  }
  .overlay.active {
    display: block;
  }


  .ham-menu {
    display: block;
    position: relative;
    z-index: 9;
  }


  .logotype {
    display: none;
  }

  .logo_mobile_nav {
    width: 5rem;
    display: block;
  }

  .off-screen-menu {
    background-color:  #bd56a0;
    height: 100%;
    width: 100%;
    max-width: 250px;
    position: fixed;
    z-index: 2;
    font-family: "Prompt", sans-serif;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    gap: 5rem;
    font-size: 2rem;
    transition: 0.3s ease;
    display: block;
  }

  .off-screen-menu.active {
    right: 0;
  }

  .off-screen-menu a {
    text-decoration: none;
    list-style: none;
    margin: 1rem;
    font-size: 3rem;
  }

  #open-sidebar-button {
    display: flex;
   background-color: rgb(255, 255, 255);
   border: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /*border-color: rgb(255, 255, 255) rgb(255, 255, 255) var(--navy);
    border-width: 5px;
    border-style: solid;
    */
    z-index: 9;
  }
  
    /* Responsive navbar and effects end  */
  
  h1 {
    text-align: center;
  }

  .profile-content {
    display: flex;

    justify-content: center;

    align-items: center;
  }
  .profile-image {
    width: 90px;

    height: auto;
  }
  nav {
    display: none;
  }


/* sobre */



.name-text-about {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  margin-top: 15px;
}

.profile-text-about{
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  text-align: center;
  width: 80%;
  

}

  /*projetos */

  .sites {
    display: grid;

    justify-items: center;

    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .thumb {
    box-shadow: 0 0 5px #ff0000, 0 0 5px #0000ff;
    width: 15em;
    border-radius: 20px;
    transition: 0.5s;
    margin: 40px;
  }

  footer {
    width: 100%;
    height: 3em;
  }

  footer span{
    display: flex;
    flex-direction: column;
    text-align: center;

  }
}


