.off-screen-menu {
  display: none;
}

.ham-menu {
  display: none;
}

.mobile-nav {
  display: none;
}

@media (max-width: 768px) {
  
  
  h1 {
    text-align: center;
  }

  .profile-content {
    display: flex;

    justify-content: center;

    align-items: center;
  }
  .profile-image {
    width: 90px;

    height: auto;
  }
  nav {
    display: none;
  }
}
